#Backend
/venv

#Frontend
/Docket_App/Frontend/.DS_STORE
/Docket_App/Frontend/node_modules
/Docket_App/Frontend/scripts/flow/*/.flowconfig
/Docket_App/Frontend/.flowconfig
/Docket_App/Frontend/*~
/Docket_App/Frontend/*.pyc
/Docket_App/Frontend/.grunt
/Docket_App/Frontend/_SpecRunner.html
/Docket_App/Frontend/__benchmarks__
/Docket_App/Frontend/build/
/Docket_App/Frontend/remote-repo/
/Docket_App/Frontend/coverage/
/Docket_App/Frontend/.module-cache
/Docket_App/Frontend/fixtures/dom/public/react-dom.js
/Docket_App/Frontend/fixtures/dom/public/react.js
/Docket_App/Frontend/test/the-files-to-test.generated.js
/Docket_App/Frontend/*.log*
/Docket_App/Frontend/chrome-user-data
/Docket_App/Frontend/*.sublime-project
/Docket_App/Frontend/*.sublime-workspace
/Docket_App/Frontend/.idea
/Docket_App/Frontend/*.iml
/Docket_App/Frontend/.vscode
/Docket_App/Frontend/*.swp
/Docket_App/Frontend/*.swo

/Docket_App/Frontend/packages/react-devtools-core/dist
/Docket_App/Frontend/packages/react-devtools-extensions/chrome/build
/Docket_App/Frontend/packages/react-devtools-extensions/chrome/*.crx
/Docket_App/Frontend/packages/react-devtools-extensions/chrome/*.pem
/Docket_App/Frontend/packages/react-devtools-extensions/firefox/build
/Docket_App/Frontend/packages/react-devtools-extensions/firefox/*.xpi
/Docket_App/Frontend/packages/react-devtools-extensions/firefox/*.pem
/Docket_App/Frontend/packages/react-devtools-extensions/shared/build
/Docket_App/Frontend/packages/react-devtools-extensions/.tempUserDataDir
/Docket_App/Frontend/packages/react-devtools-fusebox/dist
/Docket_App/Frontend/packages/react-devtools-inline/dist
/Docket_App/Frontend/packages/react-devtools-shell/dist
/Docket_App/Frontend/packages/react-devtools-timeline/dist

# dependencies
/Docket_App/Frontend/.pnp
/Docket_App/Frontend/.pnp.js

# testing
/Docket_App/Frontend/coverage

# misc
/Docket_App/Frontend/.DS_Store
/Docket_App/Frontend/.env.local
/Docket_App/Frontend/.env.development.local
/Docket_App/Frontend/.env.test.local
/Docket_App/Frontend/.env.production.local